.blue {
    color: #409AD2;
}

.bg-blue {
    background-color: #409AD2;
}

.light-blue {
    color: #A6CDEF;
}

.bg-light-blue {
    background-color: #A6CDEF;
}

.gray {
    color: #4F4C4C;
}

.bg-gray {
    background-color: #4F4C4C;
}

.light-gray {
	color: #918F90;
}

.bg-light-gray {
	background-color: #918F90;
}

.sky {
	color: #F7FAFD;
}

.bg-sky {
	background-color: #F7FAFD;
}

.gray-two {
	color: #656263;
}

.bg-gray-two {
	background-color: #656263;
}

.gray-three {
	color: #7B7979;
}

.bg-gray-three {
	background-color: #7B7979;
}

.bluish {
	color: #D7E7F5;
}

.bg-bluish {
	background-color: #D7E7F5;
}
