{% extends 'header.html' %}
{% block css %}
    <link rel = 'stylesheet' href = '{{ STATIC_URL }}login.css' type = 'text/css'></link>
{% endblock %}
{% block js %}
<!-- <script src= '{{ STATIC_URL }}ratings.js'></script> -->
{% endblock %}
{% block content %}
<div id = 'formContent'>
	<form method = 'post' action = '/login'>
	      {% csrf_token %}
	      <div class='login-username'>
	        <input required type='text' id='id_username' name='username' placeholder='Username'/>
	      </div>
	      <div class='login-password'>
	        <input required type='password' id='id_password' name='password' placeholder='Password'/>
	      </div>
	      <input type="submit" value="Login" id='submit'/>
	</form>
</div>
{% endblock %}